* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 50vh;
  background-color: #050505;
}
.cube {
  position: relative;
  width: 60px;
  height: 60px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: rotate 4s linear infinite;
  /* animation: sign 4s linear infinite; */
}

@keyframes rotate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(-360deg);
  }
  
}

.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 25px;
  text-align: center;
  padding-top: 18px;
  background: linear-gradient(#151515, #00ec00);
  transform: rotateY(calc(90deg * var(--i))) translateZ(30px);
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  transform: rotateX(90deg) translateZ(30px);
}
.top::before {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #00ff00;
  transform: translateZ(-76px);
  filter: blur(20px);
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.2),
  0 0 40px rgba(0, 255, 0, 0.4),
  0 0 60px rgba(0, 255, 0, 0.6),
  0 0 80px rgba(0, 255, 0, 0.8),
  0 0 100px rgba(0, 255, 0, 1);
}
